input::-webkit-input-placeholder {
	font-family: 'roboto', sans-serif;
	transition: all 0.3s ease-in-out;
}

input {
	margin: 30px 18px;
	width: 370px;
	display: block;
	border: none;
	padding: 10px 0;
	border-bottom: solid 1px #ff5757;
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ff5757 4%);
	background-position: -200px 0;
	background-size: 370px 100%;
	background-repeat: no-repeat;
	font-size: 15px;
}

input:focus, input:valid {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}

input:focus::-webkit-input-placeholder {
	color: #ff5757;
	font-size: 11px;
	transform: translateY(-20px);
	visibility: visible !important;
}