body{ background: #ff5757; }
h1 { color: white; }
a {  color: white;  }
.title { font-family: 'Product Sans'; }
google-map { height:400px; width:400px; }
paper-icon-item { width:400px; background: white; }
.iconitem { height:50px; width: 50px; }
.paper-item-link { color: inherit; text-decoration: none; }
.list { max-width: 100%; display: inline-block; width: 400px; margin-top: 0px; background: white; overflow-y: scroll; overflow-x: hidden;  height: 430px; }
.video { object-fit: initial; z-index: 1; width: 510px; height: 510px; }
paper-icon-item { width: 353px; }
.videoblock { display: inline-block; }
#overlay {
  font-family: Roboto;
  position: absolute;
  top: 90px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  background-color: rgba(62, 62, 62, 0.55);
  width: 510px;
  z-index: 2147483647;
  overflow: hidden;
}
#songtitle { font-size: 20px; }
#songartist { font-size: 15px; }
.menu { overflow: hidden; display: inline-block; height: 510px; width:50px; background: white; }
.list-wrapper { max-width: 100%; display: inline-block; width: 400px; height: 510px; }
.searchinput { max-width: 100%; display: inline-block; background: white; height: 80px;}
.iconOfMenuButton { color: #ff5757; margin-top: 8px; }
.orange { --context-background-color: #F57C00; --context-text-color: #FFF; --context-link-text-color: #FFE0B2;}
#titles { display: inline-block; padding-top: 10px; padding-bottom:10px; margin-left:50px; }
#queueButton { float: right; width: 50px;height: 62px;position: relative; }